.animateShake {
	animation: shake 220ms ease-out 0s 1 normal both running;
}

.retryBtn {
	box-shadow: rgb(0 0 0 / 15%) 0 2px 6px;
	transition: transform 0.2s, opacity 0.2s;
}

.retryBtn:hover::before {
	opacity: 0.1;
}

.retryBtn:active {
	transform: scale(0.9);
}

.retryBtn::before {
	z-index: 1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	border-radius: inherit;
	transition: opacity 0.2s ease;
	background: rgb(var(--color-55_55_55));
}

.retryBtn::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background: conic-gradient(from 90deg, rgb(var(--color-255_255_255)) 10%, rgb(var(--color-55_55_55)) 80%);
	border-radius: inherit;
	z-index: -1;
}

.errorCircle::before {
	animation: fadeOut 220ms ease-out 1.5s both;
	content: "";
	position: absolute;
	inset: -5px;
	opacity: 0;
	box-shadow: inset 0 0 0 3.5px rgb(var(--color-230_80_64));
	border-radius: inherit;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(2px);
	}

	50% {
		transform: translateX(-2px);
	}

	75% {
		transform: translateX(2px);
	}

	100% {
		transform: translateX(0);
	}
}
