.container {
	margin-left: 24px;
	margin-right: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	text-align: center;
}

@media (min-width: 768px) {
	.container {
		width: 295px;
	}
}

.iconContainer {
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.iconContainerLayout {
	position: relative;
	height: 100px;
	width: 100px;
}

.walletIcon {
	position: absolute;
	inset: 6px;
	transform: scale(0.86);
}

.loadingContainer {
	position: absolute;
	inset: -5px;
}

.errorCircle {
	pointer-events: none;
	position: absolute;
	inset: 0;
	border-radius: 9999px;
}

.loading {
	height: 100%;
	width: 100%;
	animation: spin 1s linear infinite;
	animation-duration: 1.2s;
}

.loading.hidden {
	opacity: 0;
}

.tryAgainBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	cursor: pointer;
	border-radius: 9999px;
	border-style: none;
	background-color: transparent;
	padding: 0;
	display: flex;
	align-items: center;
}

.tryAgainBtn.hidden {
	opacity: 0;
	pointer-events: none;
}

.tryAgainIcon {
	font-size: 32px;
	color: rgb(var(--color-255_255_255));
}

.tryAgainPopover {
	border-radius: 8px;
}

.tryAgainTips {
	font-size: 14px;
	opacity: 0.6;
}

.title {
	margin: 0;
	font-size: 19px;
	font-weight: 600;
}

.desc {
	margin-bottom: 0;
	margin-top: 12px;
	white-space: pre-wrap;
	font-size: 16px;
	color: rgb(var(--color-153_153_153));
}

.desc a {
	color: rgb(var(--color-91_137_247));
}

.desc a:hover {
	text-decoration: underline;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
