.container {
	padding: 0 24px 24px;
}

.layout {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 295px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(var(--csb-ck-color-text), 0.3);
	border-radius: 24px;
	padding: 14px;
}

@media (min-width: 768px) {
	.layout {
		width: 295px;
	}
}

.qrCode {
	height: 100%;
	width: 100%;
}

.walletIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 28%;
	width: 28%;
	transform: translate(-50%, -50%);
}
