.tips {
	margin: 10px 0 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: rgb(var(--color-153_153_153));
}

.tipsBtn {
	color: rgb(var(--color-106_217_145));
}

.item {
	font-weight: 500;
}

.walletIcon,
.emailIcon {
	margin-left: auto;
}

.walletIcon {
	height: 36px;
	width: 36px;
}

.emailIcon {
	height: 36px;
	width: 36px;
	color: rgb(var(--color-255_183_77));
}

.differenceBtn {
	margin-top: 16px;
}

.differenceIcon {
	font-size: 24px;
}
