.tips {
	font-weight: 400;
	font-size: 14px;
	color: rgb(var(--csb-ck-color-text-subtle));
	margin-bottom: 22px;
	text-align: center;
}

.item {
	justify-content: center;
	font-weight: 500;
}

.bottomTips {
	margin: 12px 0 0;
}
