.main {
	padding: 0 24px 18px;
}

.tips {
	font-weight: 400;
	font-size: 14px;
	color: #999;
	margin-bottom: 22px;
	text-align: center;
}

.item span {
	margin: 0 auto;
}

.signInItem {
	color: #fff;
	background: #6ad991;
}

.bottomTips {
	margin: 12px 0 0;
}
