.scene1Illustration {
	position: relative;
	height: 100%;
	width: 100%;
}

.scene1IllustrationArrowDown {
	position: absolute;
	left: 25%;
	top: 50%;
	z-index: 0;
	height: 76px;
	width: 76px;
	display: flex;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	background-color: #6366f1;
	box-shadow: 0 2px 10px rgba(99, 102, 241, 0.3);
}

.scene1IllustrationWallet {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	height: 112px;
	width: 112px;
	display: flex;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	background-color: #fff;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.scene1IllustrationAirplane {
	position: absolute;
	right: 25%;
	top: 50%;
	z-index: 0;
	height: 76px;
	width: 76px;
	display: flex;
	transform: translate(50%, -50%);
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	background-color: #3897fb;
	box-shadow: 0 2px 10px rgba(56, 151, 251, 0.3);
}

.scene2Illustration {
	position: relative;
	display: flex;
	align-items: center;
	border-radius: 16px;
	padding: 12px;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);
}

.scene2IllustrationWalletContainer {
	margin-right: 12px;
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(37, 41, 46, 0.16);
}

.scene2IllustrationWallet {
	height: 14px;
	width: 16px;
}

.scene2IllustrationHash {
	margin-right: 40px;
	font-size: 18px;
	font-weight: 500;
}

.scene2IllustrationKey {
	position: absolute;
	right: -28px;
	top: -18px;
}

.scene3Illustration {
	position: relative;
	display: flex;
	align-items: center;
}

.container {
	padding: 0 24px 27px;
}

.indicators {
	align-items: center;
	gap: 4px;
}

.indicators::before,
.indicators::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #f7f6f8;
}

.indicators::before {
	margin-right: 16px;
}

.indicators::after {
	margin-left: 16px;
}

.indicator {
	background: #e7e7e7;
	opacity: 1;
	height: 3px;
	width: 16px;
	flex-shrink: 0;
}

.indicator[data-active="true"] {
	background: #373737;
}

.slide {
	width: 100%;
	text-align: center;
}

.slideLayout {
	padding-bottom: 52px;
}

.slideIllustration {
	height: 217px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slideTitle {
	margin-bottom: 8px;
	margin-top: 0;
	font-size: 16px;
	font-weight: 500;
}

.slideDesc {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #999;
}

.learnMoreLink {
	display: flex;
}

.learnMoreBtn {
	height: 48px;
	width: 100%;
	cursor: pointer;
	border-radius: 16px;
	border-style: none;
	background-color: #f6f7f9;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	font-family: "Roboto", sans-serif;
}
