.section1 {
	position: relative;
	aspect-ratio: 343/176;
}

.emailBg {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.emailSvg {
	position: absolute;
	right: 61px;
	top: 67px;
	height: 76px;
	width: 76px;
}

.walletBg {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.walletSvg {
	position: absolute;
	left: 21px;
	top: 55px;
	height: 76px;
	width: 76px;
}

.section1Layout {
	position: absolute;
	right: 43px;
	top: 20px;
}

.section2 {
	position: relative;
	aspect-ratio: 340/176;
}

.section2Layout {
	position: absolute;
	left: 30px;
	top: 40px;
}

.listTitle {
	margin: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.list {
	margin-top: 8px;
	list-style-type: none;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	color: rgb(var(--csb-ck-color-text-subtle));
}

.list li {
	display: flex;
	align-items: center;
}

.list li::before {
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 3px;
	background: currentColor;
	margin: 0 8px;
}

.learnMoreLink {
	margin: 12px 24px 24px;
	display: flex;
}

.learnMoreBtn {
	height: 48px;
	width: 100%;
	cursor: pointer;
	border-radius: 16px;
	border-style: none;
	background-color: rgb(var(--csb-ck-color-bg1));
	font-size: 14px;
	font-weight: 500;
	color: rgb(var(--csb-ck-color-text));
	font-family: "Roboto", sans-serif;
}
