.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.tips {
	margin: 0 0 12px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(var(--color-73_69_79));
	text-align: center;
}

.item {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}
