.uxOverlay {
	position: relative;
	cursor: pointer;
}

.uxOverlay::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: rgb(var(--color-0_0_0));
	opacity: 0;
	transition: opacity 0.2s;
	pointer-events: none;
}

.uxOverlay:hover::after {
	opacity: 0.05;
}

.uxOverlay:active::after {
	opacity: 0.15;
}
