.walletConnect {
	background-color: rgb(var(--color-59_153_252));
	color: rgb(var(--color-255_255_255));
}

.row {
	display: flex;
}

.cell {
	position: relative;
	flex: 1 1 0;
	overflow: hidden;
	padding-top: 25%;
	padding-bottom: 25%;
}

.icon {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: scale(0.9);
	border-radius: 27.5%;
}
