.container {
	max-height: 60vh;
	overflow: auto;
}

.item {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 62px;
}

.rank {
	display: flex;
	justify-content: center;
	flex: 0 0 auto;
}

.characterName {
	font-size: 14px;
	font-weight: 500;
	color: rgb(var(--csb-ck-color-text));
}

.characterHandle {
	font-size: 12px;
	font-weight: 400;
}

.amount {
	color: rgb(var(--color-115_116_121));
	font-size: 14px;
	margin-left: auto;
}
