.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: transparent;
	outline: none;
	font-weight: 500;
	transition: color 0.2s, background-color 0.2s;
}

.btn:disabled {
	cursor: not-allowed;
}

.sm {
	border-radius: 6px;
	font-size: 12px;
}

.md {
	border-radius: 16px;
	font-size: 14px;
}

.ghost {
	color: #999;
	background: transparent;
}

.gray {
	color: #757f8d;
	background: #fafafa;
}

.yellow {
	color: #fff;
	background: #f6c549;
}

.green {
	color: #fff;
	background: #6ad991;
}
