.container {
	background: rgb(var(--color-104_119_146));
	color: rgb(var(--color-255_255_255));
	padding: 16px 24px;
	border-radius: 12px;
	font-weight: 500;
	line-height: 1.2;
	position: relative;
	z-index: 0;
}

.avatar {
	border: 2px solid rgb(var(--color-255_255_255));
}

.characterInfo {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 8px;
	overflow: hidden;
	background: rgba(var(--color-104_119_146), 0.5);
	backdrop-filter: blur(3px);
}

.characterInfoMain {
	flex: 0 1;
	max-width: 188px;
}

.characterName,
.characterHandle {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.characterName {
	font-size: 16px;
	font-weight: 500;
}

.characterHandle {
	font-size: 12px;
	font-weight: 500;
	opacity: 0.9;
}

.switchCharacter {
	flex: 0 0 auto;
	font-size: 24px;
	cursor: pointer;
}

.accountDescription {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-top: 8px;
}

.accountAddress {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.walletIcon,
.emailIcon {
	width: 72px;
	height: 72px;
	position: absolute;
	right: 24px;
	bottom: 12px;
	z-index: -1;
}

.emailIcon {
	color: rgb(var(--color-255_183_77));
}
