.container {
	position: relative;
	padding-left: 10px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(var(--color-153_153_153));
	margin: 12px 0;
	--field-tips-color: rgb(var(--color-0_0_0));
}

.container::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	border-radius: 100vh;
	transition: background-color 0.2s;
	background-color: var(--field-tips-color);
}
