.container {
	width: 360px;
	background-color: rgb(var(--color-255_255_255));
	border-radius: 28px;
	border: 1px solid rgba(var(--color-0_0_0), 0.1);
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
}

.main {
	padding: 0 24px 24px;
}

.tips {
	font-size: 14px;
	color: rgb(var(--color-153_153_153));
	margin: 10px 0 22px;
}

.tips a {
	color: rgb(var(--color-246_197_73));
}

.tips a:hover {
	text-decoration: underline;
}

.item {
	justify-content: center;
	font-weight: 500;
	min-height: 64px;
}
