.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(var(--csb-ck-color-text-subtle));
	height: 42px;
	width: 100%;
}

.container svg {
	font-size: 24px;
}
