.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.item {
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 12px;
	padding: 14px 20px;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
