.container {
	color: rgb(var(--color-8_33_53));
}

@media (min-width: 768px) {
	.container {
		width: 360px;
	}
}

.section {
	padding: 0 24px;
}

.section:not(:last-child) {
	border-bottom: 8px solid rgb(var(--color-246_247_249));
}

.address {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 12px;
}

.balance {
	color: rgb(var(--color-8_33_53));
	font-weight: 500;
	font-size: 22px;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.balance svg {
	color: rgb(var(--color-246_197_73));
	font-size: 18px;
	margin-right: 6px;
}

.balance button {
	margin-left: auto;
}

.balanceFormatted {
	flex: 1;
	width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}

.operatorAccount {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	padding: 12px 0;
	cursor: pointer;
}

.operatorAccount svg {
	color: rgb(var(--color-246_197_73));
	font-size: 14px;
	margin: 0 8px 0 auto;
}

.characters {
	margin-bottom: 24px;
}
