.container {
	background: #262626;
	border-radius: 12px;
	padding: 16px 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	color: #fff;
	cursor: pointer;
}

.icon {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
}

.title {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 0 1 auto;
	margin: 0 4px;
}

.tipsBtn {
	font-size: 16px;
	background: transparent;
	border: none;
	text-decoration: none;
	outline: none;
	color: #fff;
	padding: 0;
	cursor: pointer;
	margin: 0 4px 0 -4px;
	align-self: flex-start;
	transform: translateY(-50%);
}

.tooltip {
	backdrop-filter: blur(3.5px);
	background: rgba(94, 100, 115, 0.7);
	border-radius: 6px;
	max-width: 240px;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #fff;
	padding: 8px 16px;
}

.toggleIndicator {
	font-size: 24px;
	flex: 0 0 auto;
	transform: rotate(-90deg);
	transition: transform 0.2s, color 0.2s;
	color: #ccd1da;
	margin-left: auto;
}

.header:hover .toggleIndicator {
	color: #fff;
}

.toggleIndicator.isExpanded {
	transform: rotate(0deg);
}

.hr {
	height: 1px;
	background: #e1e8f7;
	margin: 8px;
}
