.container {
	margin: 0 16px;
}

.container:first-child {
	margin-top: 16px;
}

.header {
	display: flex;
	align-items: center;
}

.title {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
	margin: 0 6px 0 0;
	color: #ccd1da;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 0 1 auto;
}

.headerBtn {
	background: transparent;
	border: none;
	text-decoration: none;
	outline: none;
	font-size: 16px;
	color: #ccd1da;
	padding: 0;
	cursor: pointer;
	margin: 0 0 0 2px;
	transition: color 0.2s;
}

.headerBtn:hover {
	color: #fff;
}

.detail {
	font-family: "Roboto Mono", monospace;
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0.5px;
	color: #6ad991;
	margin: 0;
	word-break: break-all;
}
