.title {
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin: 0 0 12px;
}

.title svg:first-of-type {
	font-size: 24px;
	margin-right: 8px;
}

.title .circleHelp {
	font-size: 16px;
	transform: translateY(-50%);
}

.tips {
	font-weight: 400;
	font-size: 14px;
	color: rgb(var(--csb-ck-color-text-subtle));
	margin-bottom: 12px;
}

.discord {
	color: rgb(var(--color-88_101_242));
	font-weight: 500;
	text-decoration: underline;
}

.twitter {
	color: rgb(var(--color-29_155_240));
}

.tweetContent {
	padding: 16px;
	background: rgb(var(--csb-ck-color-bg1));
	border-radius: 12px;
	font-weight: 400;
	font-size: 14px;
	color: rgba(var(--csb-ck-color-text), 0.4);
	margin: 12px 0 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	word-break: break-word;
}

.tweetContent a {
	color: rgb(var(--color-255_255_255));
	background: rgb(var(--color-106_217_145));
	border-radius: 12px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 12px;
	padding: 4px 12px;
}

.reCaptcha {
	display: flex;
	justify-content: center;
}

.reCaptcha > div:not(:empty) {
	margin: 24px 0 -24px;
}

.actions {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 48px;
}

.skipBtn,
.claimBtn {
	flex: 1;
	height: 48px;
	font-size: 14px;
	border-radius: 16px;
}

.skipBtn {
	color: rgb(var(--csb-ck-color-text));
}

.claimBtn.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.tooltip {
	padding: 0;
	background: transparent;
}

.copyLinkToTweetImg {
	width: 360px;
	height: 196px;
	object-fit: cover;
}

.visible,
.invisible {
	transition: opacity 0.2s;
}

.visible {
	opacity: 1;
}

.invisible {
	pointer-events: none;
	opacity: 0;
}

.discordPendingTipsContainer {
	margin-top: 24px;
	position: relative;
	text-align: center;
	font-size: 14px;
	padding: 0 8px;
}

.discordPendingTips code {
	background: rgba(var(--csb-ck-color-text), 0.15);
	padding: 1px 4px;
	border-radius: 4px;
	font-size: 0.9em;
}

.discordCheckingBalanceTips {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.discordPendingActions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin-top: 24px;
}

.discordPendingActions button {
	padding: 4px 16px;
	border-radius: 6px;
	border: 1px solid;
	font-weight: 500;
	min-width: 90px;
	min-height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.discordPendingActions button:disabled {
	opacity: 0.5;
}

.discordPendingActions button svg {
	font-size: 16px;
}

button.cancel {
	border-color: rgba(var(--csb-ck-color-text), 0.5);
	background-color: rgb(var(--csb-ck-color-bg1));
}

button.claimed {
	background: rgb(var(--color-246_197_73));
	border-color: rgb(var(--color-246_197_73));
}
