.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 12px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	margin-top: 48px;
}

.actions button {
	height: 48px;
}

.actions button:first-of-type {
	flex: 1 1 0px;
}

.tips {
	display: flex;
	align-items: center;
	gap: 8px;
}

.filedTips {
	color: rgb(var(--color-153_153_153));
}

.container input,
.container textarea {
	font-size: 14px;
}
