.container {
	margin-bottom: 16px;
}

.characterItem,
.mintItem {
	display: flex;
	align-items: center;
	min-height: 64px;
}

.characterItem {
	font-weight: 500;
	line-height: 1.1;
	gap: 8px;
}

.characterItem svg {
	font-size: 24px;
}

.characterInfo {
	overflow: hidden;
	flex: 1;
	width: 0;
	white-space: nowrap;
}

.characterName {
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.characterHandle {
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mintItem {
	justify-content: center;
}
