@media (min-width: 768px) {
	.tooltipLabel {
		width: 312px;
	}
}

.tooltip {
	background-color: rgb(var(--color-80_192_123));
}

.tooltipLabel {
	border-radius: 16px;
	padding-bottom: 30px;
}

.tooltipLabelIconSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	background-color: rgb(var(--color-0_0_0));
}

.crossbellIcon {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	height: 34px;
	width: 125px;
	object-fit: contain;
}

.whatIsCharacter {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	aspect-ratio: 253/128;
	width: 100%;
}

.whatIsCharacterImg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.whatIsCharacterTitle {
	margin-bottom: 6px;
	margin-top: 14px;
	font-size: 16px;
	font-weight: 600;
}

.whatIsCharacterContent {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}
