.placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	color: rgba(var(--csb-ck-color-text), 0.5);
	height: 30vh;
}

@media (min-width: 768px) {
	.placeholder {
		width: 360px;
		height: 300px;
	}
}
