.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input {
	border-radius: 12px;
	border-style: none;
	background-color: rgba(28, 27, 31, 0.04);
	padding: 0;
	text-align: center;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	font-size: 22px;
	font-weight: 500;
	line-height: 0.25rem;
	outline-color: #6ad991;
}

.input::selection {
	background-color: transparent;
}
