.header {
	margin-bottom: 6px;
	display: flex;
	align-items: center;
	grid-gap: 8px;
	gap: 8px;
	white-space: nowrap;
}

.title {
	display: flex;
	align-items: center;
	grid-gap: 8px;
	gap: 8px;
}

.titleContent {
	font-size: 16px;
	font-weight: 500;
	color: rgba(var(--csb-ck-color-text), 0.9);
}

.tips {
	margin-left: auto;
	flex-grow: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

.children {
	width: 100%;
}
