.btn {
	border-radius: 16px;
	border-style: none;
	padding: 14px 36px;
	font-size: 14px;
	font-weight: 500;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	background-color: rgb(var(--color-106_217_145));
	color: rgb(var(--color-255_255_255));
}

.btn.disabled {
	cursor: not-allowed;
	background-color: rgb(var(--csb-ck-color-bg1));
	color: rgb(var(--csb-ck-color-text));
}
