.container {
	position: relative;
	height: 44px;
}

.input {
	height: 100%;
	width: 100%;
	border-radius: 12px;
	border-style: none;
	background-color: rgba(28, 27, 31, 0.04);
	padding-left: 12px;
	padding-right: 12px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.input:focus {
	background-color: rgba(28, 27, 31, 0.06);
}

.action {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	padding: 8px;
	font-size: 16px;
	color: #999;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.action:hover {
	color: #000;
}

.visibleIcon {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cg stroke='currentColor' stroke-linejoin='round'%3E%3Cpath stroke-linecap='round' stroke-width='1.143' d='m15.12 7.23443c.1895.21.2944.48283.2944.76571s-.1049.55571-.2944.76571c-1.2 1.29145-3.9314 3.80575-7.12 3.80575-3.18857 0-5.92-2.5143-7.12-3.80575-.189531-.21-.294444-.48283-.294444-.76571s.104913-.55571.294444-.76571c1.2-1.29143 3.93143-3.80572 7.12-3.80572 3.1886 0 5.92 2.51429 7.12 3.80572z'/%3E%3Cpath stroke-linecap='round' stroke-width='1.143' d='m9.84872 9.23246c-.89263.89264-2.33986.89264-3.23249 0-.89263-.89263-.89263-2.33987 0-3.23249'/%3E%3Cpath d='m2.99998 2 12.00002 12'/%3E%3C/g%3E%3C/svg%3E");
	mask: var(--un-icon) no-repeat;
	mask-size: 100% 100%;
	-webkit-mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	background-color: currentColor;
	width: 1em;
	height: 1em;
}

.invisibleIcon {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cg stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.143'%3E%3Cpath d='m15.12 7.23443c.1895.21.2944.48283.2944.76571s-.1049.55571-.2944.76571c-1.2 1.29145-3.9314 3.80575-7.12 3.80575-3.18857 0-5.92-2.5143-7.12-3.80575-.189531-.21-.294444-.48283-.294444-.76571s.104913-.55571.294444-.76571c1.2-1.29143 3.93143-3.80572 7.12-3.80572 3.1886 0 5.92 2.51429 7.12 3.80572z'/%3E%3Cpath d='m8.00001 10.2858c1.26236 0 2.28569-1.02336 2.28569-2.28573s-1.02333-2.28571-2.28569-2.28571c-1.26237 0-2.28572 1.02334-2.28572 2.28571s1.02335 2.28573 2.28572 2.28573z'/%3E%3C/g%3E%3C/svg%3E");
	mask: var(--un-icon) no-repeat;
	mask-size: 100% 100%;
	-webkit-mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	background-color: currentColor;
	width: 1em;
	height: 1em;
}
