.container {
	position: relative;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #999;
}

.dot {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	width: 3px;
	border-radius: 9999px;
	background-color: rgba(106, 217, 145, 1);
}
