.container {
	position: relative;
	padding: 6px 12px;
	min-height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	box-sizing: border-box;
	background-color: rgb(var(--csb-ck-color-bg1));
	border-radius: 12px;
}

.main {
	flex: 1;
	width: 0;
}

.title {
	color: rgba(var(--csb-ck-color-text), 0.9);
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 6px;
}

.description {
	color: rgb(var(--csb-ck-color-text-subtle));
	font-weight: 500;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;
	font-weight: 500;
}

.tags span {
	font-size: 11px;
	padding: 0 6px;
	border-radius: 4px;
	background: white;
}

.removeBtn,
.inactivated {
	padding: 2px 6px;
	font-size: 12px;
	background: transparent;
	border: none;
	font-weight: 500;
	font-family: inherit;
	border-radius: 4px;
}

.removeBtn {
	color: rgb(var(--color-91_137_247));
}

.inactivated {
	color: rgb(var(--color-169_170_172));
}
