.container {
	padding: 0 0 24px;
}

.list {
	margin: 10px 24px 24px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.itemTitle {
	padding: 0 0 0 20px;
}

.emptyTips {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	opacity: 0.8;
}

.loading {
	font-size: 32px;
	opacity: 0.8;
}
