.container {
	width: 360px;
	background-color: rgb(var(--csb-ck-color-bg));
	border-radius: 28px;
	border: 1px solid rgba(var(--csb-ck-color-text), 0.1);
	box-sizing: content-box;
}

.main {
	padding: 0 24px 24px;
}

.img {
	display: block;
	width: 141px;
	height: 138px;
	object-fit: contain;
	margin: 13px auto 8px;
}

.msg {
	font-size: 14px;
	color: rgba(var(--csb-ck-color-text), 0.9);
	text-align: center;
	margin-bottom: 48px;
}
