.container {
	color: rgb(var(--color-46_46_46));
	background-color: rgba(var(--color-28_27_31), 0.04);
	transition: background-color 0.2s;
	min-height: 88px;
	border: none;
	border-radius: 12px;
	resize: none;
	width: 100%;
	outline: none;
	padding: 12px;
}

.container:focus {
	outline: none;
	background-color: rgba(var(--color-28_27_31), 0.06);
}
