.container {
	background-color: rgba(28, 27, 31, 0.04);
	transition: background-color 0.2s;
	min-height: 88px;
	border: none;
	border-radius: 12px;
	resize: none;
	width: 100%;
	outline: none;
	padding: 12px;
}

.container:focus {
	outline: none;
	background-color: rgba(28, 27, 31, 0.06);
}
