.container {
	background-color: rgb(var(--color-246_246_246));
	border-radius: 12px;
	margin-top: 12px;
}

.item {
	padding: 16px 10px 16px 20px;
	display: flex;
	align-items: center;
	position: relative;
	font-weight: 500;
	font-size: 12px;
}

.item:not(:last-child)::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 52px;
	height: 1px;
	background-color: rgb(var(--color-225_232_247));
}

.item svg {
	font-size: 32px;
	margin-left: auto;
}

.permission {
	color: rgb(var(--color-73_69_79));
}

.permission:hover {
	text-decoration: underline;
}

.description {
	color: rgb(var(--color-136_136_136));
}
