.container {
	color: rgb(var(--color-8_33_53));
	padding: 24px;
}

.bell {
	font-size: 18px;
	color: rgb(var(--color-246_197_73));
}

.input {
	font-weight: 500;
	font-size: 22px;
	color: rgb(var(--color-91_137_247));
	padding: 0 60px 0 16px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.input[type="number"] {
	-moz-appearance: textfield;
}

.maxContainer {
	width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.max {
	white-space: nowrap;
	font-size: 14px;
	border: none;
	outline: none;
	background-color: transparent;
	color: rgb(var(--color-91_137_247));
	cursor: pointer;
	transition: color 0.2s;
	padding: 6px;
}

.max:disabled {
	opacity: 0;
	pointer-events: none;
}

.max:hover {
	color: rgb(var(--color-70_106_191));
}

.max:active {
	color: rgb(var(--color-54_82_149));
}

.mainBtn {
	margin-top: 48px;
}

.nowrap {
	white-space: nowrap;
}
