@media (min-width: 768px) {
	.container {
		width: 360px;
	}
}

.main {
	padding: 0 24px 24px;
}

.tips {
	font-size: 14px;
	color: #999;
	text-align: center;
	margin: 10px 0 20px;
}

.walletIcon {
	width: 24px;
	height: 24px;
}

.address {
	padding: 10px 16px;
	font-size: 14px;
	background: rgba(28, 27, 31, 0.04);
	color: rgba(28, 27, 31, 0.38);
	border-radius: 12px;
}

.actions {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	margin-top: 48px;
}

.actions button:first-of-type {
	background: #f6f7f9;
	color: #000;
}

.actions button {
	flex: 1;
	height: 48px;
}
