.container {
	width: 360px;
}

.closeBtn {
	height: auto;
	padding: 5px;
	font-size: 22px;
}

.main {
	display: flex;
	flex-direction: column;
	grid-gap: 12px;
	gap: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.btn {
	height: 64px;
	width: 100%;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
}

.disconnectBtn {
	background-color: #e65040;
	color: #fff;
}

.tips {
	margin-bottom: 27px;
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
}

.tipsIcon {
	margin-right: 4px;
	font-size: 24px;
}

.tipsContent {
	font-size: 14px;
	font-weight: 400;
}
