@media (min-width: 768px) {
	.container {
		width: 360px;
	}
}

.main {
	display: flex;
	flex-direction: column;
	grid-gap: 12px;
	gap: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.btn {
	height: 64px;
	width: 100%;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	background: rgb(var(--color-246_246_246));
	color: rgb(var(--color-46_46_46));
}

.disconnectBtn {
	background-color: rgb(var(--color-230_80_64));
	color: rgb(var(--color-255_255_255));
}

.tips {
	margin-bottom: 27px;
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(var(--color-153_153_153));
}

.tipsIcon {
	margin-right: 4px;
	font-size: 24px;
}

.tipsContent {
	font-size: 14px;
	font-weight: 400;
}
