.container {
	padding: 10px 24px 48px;
}

.tips {
	font-weight: 400;
	font-size: 14px;
	color: #999;
	text-align: center;
	margin-bottom: 20px;
}

.tips svg {
	display: inline-block;
	font-size: 24px;
	vertical-align: bottom;
}

.item {
	display: flex;
	align-items: center;
	gap: 8px;
	background: #f6f6f6;
	padding: 20px;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 500;
}

.item svg {
	font-size: 24px;
}

.toggle {
	margin-left: auto;
}

.mainBtn {
	height: 64px;
	background-color: #f6f6f6;
	color: #373737;
	margin-top: 12px;
	font-size: 16px;
	font-weight: 500;
}
