.container {
	position: relative;
	z-index: 0;
	background-color: rgb(var(--color-245_245_245));
	padding: 24px;
	color: rgb(var(--color-8_33_53));
}

@media (min-width: 768px) {
	.container {
		width: 360px;
	}
}

.progress {
	height: 3px;
	background: rgba(var(--color-255_255_255), 0.6);
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 12px;
}

.progressFill {
	height: 100%;
	width: 100%;
	animation-name: progress;
	animation-timing-function: linear;
	background: rgba(var(--color-8_33_53), 0.6);
}

@keyframes progress {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

.header {
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	padding-bottom: 9px;
}

.tips {
	margin: 0;
	font-size: 14px;
	opacity: 0.6;
}

.closeBtn {
	margin-left: auto;
	cursor: pointer;
	border-style: none;
	background-color: transparent;
	padding: 4px;
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.closeIcon {
	font-size: 24px;
	color: rgb(var(--csb-ck-color-text-subtle));
}

.main {
	text-align: center;
}

.title {
	margin-bottom: 13px;
	margin-top: 0;
	font-size: 24px;
	font-weight: 600;
	font-family: "Lexend Deca", sans-serif;
}

.desc {
	margin: 0;
	font-size: 15px;
	font-weight: 300;
}

.illustration1 {
	position: relative;
	margin-top: -20px;
	aspect-ratio: 308/228;
}

.illustration1Img {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.5;
}

.btn {
	height: 48px;
	width: 100%;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	border-style: none;
	background-color: rgb(var(--color-106_217_145));
	font-size: 14px;
	font-weight: 500;
	color: rgb(var(--color-255_255_255));
	outline: 2px solid transparent;
	outline-offset: 2px;
	font-family: "Roboto", sans-serif;
}
