.container {
	height: 64px;
	border-radius: 12px;
	background: rgba(var(--csb-ck-color-text), 0.04);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.container.isActive {
	outline: 3px solid rgb(var(--color-246_197_73));
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	filter: blur(5px);
}

.avatar {
	height: 48px;
	width: 48px;
	border-radius: 100vh;
	border: 2px solid rgb(var(--csb-ck-color-bg));
	background: rgb(var(--csb-ck-color-bg));
	box-sizing: content-box;
	object-fit: cover;
}
