.btn {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	border: none;
	background: transparent;
	outline: none;
	border-radius: 8px;
	color: rgb(var(--csb-ck-color-text-subtle));
}
