.flipCard {
	background-color: transparent;
	perspective: 1000px;
	cursor: pointer;
}

.flipped .flipCardInner {
	transform: rotateY(180deg);
}

.flipCardInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.flipCardFront,
.flipCardBack {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
}

.flipCardFront {
	background-color: transparent;
}

.flipCardBack {
	background-color: transparent;
	transform: rotateY(180deg);
}
