.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 14px;
	border: none;
	background: transparent;
	outline: none;
	border-radius: 16px;
	font-weight: 500;
	height: 48px;
	transition: color 0.2s, background-color 0.2s;
	font-family: inherit;
}

.btn:disabled {
	cursor: not-allowed;
}

.gray {
	color: rgb(var(--csb-ck-color-text));
	background: rgb(var(--csb-ck-color-bg1));
}

.yellow {
	color: rgb(var(--color-255_255_255));
	background: rgb(var(--color-246_197_73));
}

.green {
	color: rgb(var(--color-255_255_255));
	background: rgb(var(--color-106_217_145));
}

.red {
	color: rgb(var(--color-255_255_255));
	background: rgb(var(--color-230_80_64));
}
