.layout {
	position: fixed;
	bottom: 16px;
	right: 16px;
	opacity: 0;
	transition: opacity 0.2s, transform 0.2s;
	transform: translateY(25%);
}

.layout.isActive {
	opacity: 1;
	transform: translateY(0);
}
