.container {
	margin: 0 24px;
	padding-bottom: 18px;
}

@media (min-width: 768px) {
	.container {
		width: 312px;
	}
}

.tips {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #999999;
}

.tipsBtn {
	color: #6ad991;
}

.walletIcon {
	height: 36px;
	width: 36px;
}

.emailIcon {
	height: 36px;
	width: 36px;
	color: #ffb74d;
}

.differenceBtn {
	margin-top: 16px;
	height: 42px;
	font-size: 14px;
	font-weight: 400;
}

.differenceIcon {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none' viewBox='0 0 25 24'%3E%3Cpath fill='currentColor' d='m12.3333 2c-3.48963 0-6.3333 2.84367-6.3333 6.33333 0 2.06467.99433 3.90767 2.53333 5.06667v5.0667s.63334 2.5333 3.79997 2.5333c3.1667 0 3.8-2.5333 3.8-2.5333v-5.0667c1.539-1.159 2.5334-3.002 2.5334-5.06667 0-3.48966-2.8437-6.33333-6.3334-6.33333zm0 17.7333c-1.558 0-2.204-.7916-2.44463-1.2666h4.88233c-.2337.456-.886 1.2666-2.4377 1.2666zm2.5334-2.5333h-5.0667v-2.5333h5.0667zm-2.5334-3.8c-2.79297 0-5.06663-2.2737-5.06663-5.06667 0-2.793 2.27366-5.06666 5.06663-5.06666 2.793 0 5.0667 2.27366 5.0667 5.06666 0 2.79297-2.2737 5.06667-5.0667 5.06667z'/%3E%3C/svg%3E");
	mask: var(--un-icon) no-repeat;
	mask-size: 100% 100%;
	-webkit-mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	background-color: currentColor;
	width: 1em;
	height: 1em;
	font-size: 24px;
}
