@media (min-width: 768px) {
	.container {
		width: 360px;
	}
}

.main {
	padding: 0 24px 24px;
}

.title {
	margin: 0 0 12px;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.description {
	font-size: 16px;
	text-align: center;
}

.mainBtn {
	margin-top: 18px;
}

.graphic {
	position: relative;
	margin: 16px auto 20px;
	height: 190px;
	max-width: 295px;
	pointer-events: none;
	user-select: none;
	z-index: 0;
}

.graphicBg {
	z-index: -1;
	position: absolute;
	inset: -2px 0 0;
	overflow: hidden;
	animation: 1000ms ease 100ms 1 normal both running graphicIn;
}

.graphicBg::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgb(var(--color-255_255_255));
	background: radial-gradient(closest-side, transparent 18.75%, rgb(var(--color-255_255_255)) 100%);
	background-size: 100%;
}

.graphicBg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.logoGroup {
	position: absolute;
	inset: 0;
}

.logoPosition {
	position: absolute;
	inset: 0;
	animation: cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation-delay: inherit;
}

.logoInner {
	position: absolute;
}

.logoGraphic {
	position: relative;
	overflow: hidden;
	height: 58px;
	width: 58px;
	border-radius: 13.84px;
	box-shadow: 0 0 0 1px rgba(var(--color-0_0_0), 0.05), 0 2px 20px 0 rgba(var(--color-0_0_0), 0.03);
	background: rgb(var(--color-255_255_255));
}

.logoGraphic svg {
	display: block;
	width: 100%;
	height: 100%;
}

.floatWrapper {
	position: relative;
	animation: cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation-name: float;
	animation-duration: 3600ms;
}

.rotateWrapper {
	position: relative;
	animation: cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
	animation-name: rotate;
	animation-duration: 3200ms;
}

.logo {
	position: absolute;
	inset: 0;

	animation: logoIn 750ms cubic-bezier(0.19, 1, 0.22, 1) both;
}

.logo:nth-child(1) {
	z-index: 2;
	animation-delay: 0ms;
}
.logo:nth-child(2) {
	z-index: 1;
	animation-delay: 60ms;
}
.logo:nth-child(3) {
	z-index: 1;
	animation-delay: 30ms;
}
.logo:nth-child(4) {
	z-index: 1;
	animation-delay: 90ms;
}
.logo:nth-child(5) {
	z-index: 1;
	animation-delay: 120ms;
}

.logo:nth-child(1) .rotateWrapper {
	animation-delay: 0ms;
}
.logo:nth-child(2) .rotateWrapper {
	animation-delay: -600ms;
}
.logo:nth-child(3) .rotateWrapper {
	animation-delay: -1200ms;
}
.logo:nth-child(4) .rotateWrapper {
	animation-delay: -1800ms;
}
.logo:nth-child(5) .rotateWrapper {
	animation-delay: -2400ms;
}

.logo:nth-child(1) .floatWrapper {
	animation-delay: -200ms;
}
.logo:nth-child(2) .floatWrapper {
	animation-delay: -600ms;
}
.logo:nth-child(3) .floatWrapper {
	animation-delay: -800ms;
}
.logo:nth-child(4) .floatWrapper {
	animation-delay: -300ms;
}
.logo:nth-child(5) .floatWrapper {
	animation-delay: -3200ms;
}

.logo .logoInner {
	transform: translate(-50%, -50%);
}

.logo:nth-child(1) .logoPosition {
	transform: translate(50%, 50%);
}
.logo:nth-child(1) .logoPosition .logoGraphic {
	border-radius: 17.2px;
	width: 72px;
	height: 72px;
}
.logo:nth-child(2) .logoPosition {
	transform: translate(21%, 21.5%);
}
.logo:nth-child(3) .logoPosition {
	transform: translate(78%, 14%);
}
.logo:nth-child(4) .logoPosition {
	transform: translate(22.5%, 76%);
}
.logo:nth-child(5) .logoPosition {
	transform: translate(76%, 80%);
}

@keyframes graphicIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes logoIn {
	0% {
		opacity: 0;
		transform: scale(0) translateY(40%);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes float {
	0%,
	100% {
		transform: none;
	}

	50% {
		transform: translateY(-10%);
	}
}

@keyframes rotate {
	0%,
	100% {
		transform: rotate(-3deg);
	}

	50% {
		transform: rotate(3deg);
	}
}
