.modal {
	--csb-notification-color-text: #000;
	--csb-notification-color-textSecondary: #687792;
	--csb-notification-color-closeBtn: #999;
	--csb-notification-color-border: #999;
	--csb-notification-color-background: #fff;
	--csb-notification-color-indicator-text: #fff;
	--csb-notification-color-indicator: #fa5252;
	--csb-notification-color-transactionHash: #f6c549;
	--csb-notification-color-bellPrimary: #f6c549;
	--csb-notification-color-bellSecondary: #d2a52a;

	width: 600px;
	max-width: 90vw;
	overflow: hidden;
	padding: 24px 0;
	color: var(--csb-notification-color-text);
	background: var(--csb-notification-color-background);
	border: 1px solid var(--csb-notification-color-border);
	border-radius: 28px;
}

.header {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 24px;
	margin-bottom: 10px;
}

.headerBell {
	font-size: 24px;
}

.headerTitle {
	font-size: 22px;
	font-weight: 500;
	margin-right: auto;
}

.loader,
.noNotificationTips {
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	font-size: 36px;
	color: var(--csb-notification-color-text);
	opacity: 0.5;
}

.scrollArea {
	padding: 0 24px;
	min-height: 30vh;
	max-height: 70vh;
	overflow: auto;
}

.closeBtn {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	border: none;
	background: transparent;
	outline: none;
	border-radius: 8px;
	color: var(--csb-notification-color-closeBtn);
	transition: background-color 0.2s;
}

.closeBtn:hover {
	background: rgba(50%, 50%, 50%, 0.1);
}

.closeBtn:active {
	background: rgba(50%, 50%, 50%, 0.3);
}

@media (min-width: 768px) {
	.headerBell {
		font-size: 32px;
	}

	.headerTitle {
		font-size: 28px;
	}
}
