.container {
	padding: 24px;
}

@media (min-width: 768px) {
	.container {
		width: 362px;
	}
}

.emailField {
	margin-bottom: 24px;
}

.field,
.field svg {
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.tips {
	color: rgb(var(--color-230_80_64));
}

.sendCodeBtn {
	height: 100%;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-style: none;
	background-color: rgb(var(--color-106_217_145));
	font-size: 14px;
	font-weight: 500;
	color: rgb(var(--color-255_255_255));
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	font-family: "Roboto", sans-serif;
}

.sendCodeBtn:disabled {
	background-color: rgba(var(--color-106_217_145), 0.5);
}

.sentTips {
	margin-top: -14px;
	margin-bottom: 24px;
}

.actions {
	margin-top: 48px;
	display: flex;
	justify-content: flex-end;
}
