.container {
	padding: 24px;
}

@media (min-width: 768px) {
	.container {
		width: 362px;
	}
}

.field,
.field svg {
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.passwordField {
	margin-bottom: 24px;
}

.actions {
	margin-top: 48px;
	display: flex;
	justify-content: flex-end;
}
