.container {
	padding: 24px;
}

@media (min-width: 768px) {
	.container {
		width: 362px;
	}
}

.field,
.field svg {
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.emailField {
	margin-bottom: 24px;
}

.emailTips {
	color: rgb(var(--color-230_80_64));
}

.passwordIcon {
	color: rgb(var(--color-255_183_77));
}

.forgotBtn {
	font-weight: 400;
}

.actions {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
}

.registerBtn {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	grid-gap: 12px;
	gap: 12px;
	border-style: none;
	background-color: transparent;
	padding: 14px 15px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(var(--csb-ck-color-text-subtle));
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	font-family: "Roboto", sans-serif;
}

.registerBtn:hover {
	color: rgb(var(--csb-ck-color-text2));
}
