.container {
	padding: 24px;
}

@media (min-width: 768px) {
	.container {
		width: 362px;
	}
}

.tips {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 46px;
}

.tipsIconSection {
	position: relative;
}

.emailIcon {
	color: rgb(var(--color-255_183_77));
}

.checkIcon {
	position: absolute;
	bottom: -10px;
	right: -25px;
	color: rgb(var(--color-106_217_145));
}

.tipsContent {
	margin-bottom: 44px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 500;
}

.circleHelpIcon {
	display: inline-block;
	transform: translateY(-50%);
}

.memberIcon {
	color: rgb(var(--color-255_183_77));
}

.nameField {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.actions {
	margin-top: 48px;
	display: flex;
	justify-content: flex-end;
}

.mintBtn {
	padding-left: 50px;
	padding-right: 50px;
}
