.backBtn {
	height: auto;
	padding: 5px;
	font-size: 22px;
}

.container {
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 18px;
}

@media (min-width: 768px) {
	.container {
		width: 312px;
	}
}

.walletIcon {
	height: 36px;
	width: 36px;
}

.emailIcon {
	height: 36px;
	width: 36px;
	color: rgb(var(--color-255_183_77));
}

.differenceBtn {
	margin-top: 16px;
}

.differenceIcon {
	font-size: 24px;
}

.circleHelpIcon {
	color: rgb(var(--csb-ck-color-text-subtle));
}
