.backBtn {
	height: auto;
	padding: 5px;
	font-size: 22px;
}

.container {
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 18px;
}

@media (min-width: 768px) {
	.container {
		width: 312px;
	}
}

.walletIcon {
	height: 36px;
	width: 36px;
}

.emailIcon {
	height: 36px;
	width: 36px;
	color: #ffb74d;
}

.differenceBtn {
	margin-top: 16px;
	height: 42px;
	font-size: 14px;
	font-weight: 400;
}

.differenceIcon {
	font-size: 24px;
}
