.backBtn {
	height: auto;
	padding: 5px;
	font-size: 22px;
}

.backIcon {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='m8.06659 11.8833c.17777 0 .32777-.0612.44999-.1834.12223-.1222.18334-.2722.18334-.45s-.06111-.3278-.18334-.45c-.12222-.1222-.27222-.1833-.44999-.1833-.17778 0-.32778.0611-.45.1833-.12223.1222-.18334.2722-.18334.45s.06111.3278.18334.45c.12222.1222.27222.1834.45.1834zm-.58334-2.43338h.98333c0-.28889.03612-.55278.10834-.79167s.29722-.51389.675-.825c.34444-.28889.58889-.57222.73333-.85.14445-.27778.21665-.58333.21665-.91666 0-.58889-.1916-1.06112-.57498-1.41667-.38334-.35556-.89167-.53333-1.525-.53333-.54445 0-1.025.13611-1.44167.40833-.41666.27222-.71944.64722-.90833 1.125l.88333.33333c.12222-.31111.30556-.55278.55-.725.24445-.17222.53333-.25833.86667-.25833.37778 0 .68333.10278.91666.30833.23334.20556.35001.46945.35001.79167 0 .24444-.07223.475-.21667.69166-.14445.21667-.35556.44167-.63334.675-.33333.28889-.58055.575-.74166.85834-.16111.28333-.24167.65833-.24167 1.125zm.51667 5.21668c-.91111 0-1.77222-.175-2.58334-.525-.81111-.35-1.51944-.8278-2.12499-1.4333-.60556-.6056-1.08334-1.3139-1.43334-2.125-.35-.81116-.525-1.67227-.525-2.58338 0-.92222.175-1.78889.525-2.6s.82778-1.51667 1.43334-2.11667c.60555-.6 1.31388-1.075 2.12499-1.425.81112-.35 1.67223-.525 2.58334-.525.92222 0 1.78889.175 2.59998.525.8111.35 1.5167.825 2.1167 1.425s1.075 1.30556 1.425 2.11667.525 1.67778.525 2.6c0 .91111-.175 1.77222-.525 2.58338-.35.8111-.825 1.5194-1.425 2.125-.6.6055-1.3056 1.0833-2.1167 1.4333-.81109.35-1.67776.525-2.59998.525zm0-1c1.57778 0 2.91668-.5528 4.01668-1.6583 1.1-1.1056 1.65-2.44172 1.65-4.00838 0-1.57778-.55-2.91667-1.65-4.01667s-2.4389-1.65-4.01668-1.65c-1.56667 0-2.90278.55-4.00833 1.65-1.10556 1.1-1.65834 2.43889-1.65834 4.01667 0 1.56666.55278 2.90278 1.65834 4.00838 1.10555 1.1055 2.44166 1.6583 4.00833 1.6583z'/%3E%3C/svg%3E");
	mask: var(--un-icon) no-repeat;
	mask-size: 100% 100%;
	-webkit-mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	background-color: currentColor;
	width: 1em;
	height: 1em;
}

.container {
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 18px;
}

@media (min-width: 768px) {
	.container {
		width: 312px;
	}
}

.walletIcon {
	height: 36px;
	width: 36px;
}

.emailIcon {
	height: 36px;
	width: 36px;
	color: #ffb74d;
}

.differenceBtn {
	margin-top: 16px;
	height: 42px;
	font-size: 14px;
	font-weight: 400;
}

.differenceIcon {
	--un-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none' viewBox='0 0 25 24'%3E%3Cpath fill='currentColor' d='m12.3333 2c-3.48963 0-6.3333 2.84367-6.3333 6.33333 0 2.06467.99433 3.90767 2.53333 5.06667v5.0667s.63334 2.5333 3.79997 2.5333c3.1667 0 3.8-2.5333 3.8-2.5333v-5.0667c1.539-1.159 2.5334-3.002 2.5334-5.06667 0-3.48966-2.8437-6.33333-6.3334-6.33333zm0 17.7333c-1.558 0-2.204-.7916-2.44463-1.2666h4.88233c-.2337.456-.886 1.2666-2.4377 1.2666zm2.5334-2.5333h-5.0667v-2.5333h5.0667zm-2.5334-3.8c-2.79297 0-5.06663-2.2737-5.06663-5.06667 0-2.793 2.27366-5.06666 5.06663-5.06666 2.793 0 5.0667 2.27366 5.0667 5.06666 0 2.79297-2.2737 5.06667-5.0667 5.06667z'/%3E%3C/svg%3E");
	mask: var(--un-icon) no-repeat;
	mask-size: 100% 100%;
	-webkit-mask: var(--un-icon) no-repeat;
	-webkit-mask-size: 100% 100%;
	background-color: currentColor;
	width: 1em;
	height: 1em;
	font-size: 24px;
}
