.modal {
	margin-top: auto;
	width: 100%;
	overflow: hidden;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
}

@media (min-width: 768px) {
	.modal {
		margin-bottom: auto;
		width: auto;
		border-bottom-left-radius: 28px;
		border-bottom-right-radius: 28px;
	}
}

.inner {
	padding: 0;
}
