.modal {
	margin-top: auto;
	width: 100%;
	color: rgb(var(--color-46_46_46));
	background: rgb(var(--color-255_255_255));
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
}

.modal * {
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.modal {
		margin-bottom: auto;
		width: auto;
		border-bottom-left-radius: 28px;
		border-bottom-right-radius: 28px;
	}
}

.inner {
	padding: 0;
}
