.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-weight: 400;
	font-size: 12px;
	color: rgb(var(--color-135_142_149));
	margin-top: 12px;
}

.container a:hover {
	text-decoration: underline;
}

.container::after,
.container::before {
	content: "";
	flex: 1;
	height: 1px;
	background: rgb(var(--color-207_212_217));
}
