.tipsBtn {
	transition: color 200ms ease, transform 100ms ease;
}

.tipsBtn svg {
	transition: all 100ms ease-out;
	display: block;
	position: relative;
	top: 2px;
	left: 2px;
	transform: translateZ(0px);
}

.tipsBtn svg path,
.tipsBtn svg circle {
	transition: all 100ms ease-out;
}

.tipsBtn svg path:last-of-type {
	transform-origin: 0 0;
	transform: scaleX(1.3) skewY(-12deg);
	opacity: 0;
}

.tipsBtn svg circle {
	transform: translate(20%, -15%);
}

.tipsBtn:hover svg path,
.tipsBtn:hover svg circle {
	opacity: 1;
	transform: none;
}

.tipsBtn:active {
	transform: scale(0.96);
}
