.container {
	padding: 23px 21px 10px;
}

.container button:focus {
	outline: none;
}

.main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 0.25rem;
	gap: 0.25rem;
}

.title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-size: 16px;
	font-weight: 500;
	color: rgb(var(--csb-ck-color-text));
}

.backIcon {
	transform: translateX(25%);
}

.hidden {
	pointer-events: none;
	opacity: 0;
}
