.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.headerTitle {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 22px;
	font-weight: 500;
	color: rgb(var(--color-55_55_55));
}

.headerTitle svg {
	font-size: 24px;
}

.icon {
	width: 24px;
	height: 24px;
}

.lockIcon {
	color: rgb(var(--color-120_144_156));
}

.deleteCharacter {
	background: transparent;
	color: rgb(var(--color-230_80_64));
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	border: none;
	height: 64px;
	margin-top: 36px;
	margin-bottom: -36px;
	border-radius: 12px;
}
