html,
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overscroll-behavior: none;
	background: #fafcff;
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
