.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.headerTitle {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 22px;
	font-weight: 500;
	color: #373737;
}

.headerTitle svg {
	font-size: 24px;
}

.gearIcon {
	color: #464646;
}

.icon {
	width: 24px;
	height: 24px;
}

.lockIcon {
	color: #78909c;
}

.myCharacter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	gap: 5px;
}

.characterName {
	flex: 1 1 auto;
	text-align: right;
	width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #a9aaac;
	font-size: 12px;
	line-height: 16px;
	margin-left: auto;
}
