.container {
	opacity: 1;
	transition: opacity 0.2s;
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(var(--csb-ui-loading-overlay-bg, 255, 255, 255), 0.9);
	color: rgba(var(--csb-ui-loading-overlay-color, 0, 0, 0), 0.8);
}

.container > svg {
	font-size: 2em;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}
