.container {
	display: flex;
	align-items: center;
	margin: 0 8px;
}

.line {
	flex: 1;
	height: 1px;
	background: #cfd4d9;
	margin: 0 8px;
}

.tips {
	color: #878e95;
	flex: 0 0 auto;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	margin: 0;
}
