.tips {
	font-weight: 400;
	font-size: 14px;
	color: rgb(var(--color-153_153_153));
	text-align: center;
	margin-bottom: 20px;
	white-space: pre-wrap;
}

.tips svg {
	display: inline-block;
	font-size: 24px;
	vertical-align: bottom;
}

.item {
	display: flex;
	align-items: center;
	gap: 8px;
	background: rgb(var(--color-246_246_246));
	padding: 20px;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
}

.item svg {
	font-size: 24px;
}

.toggle {
	margin-left: auto;
}

.mainBtn {
	height: 64px;
	background-color: rgb(var(--color-246_246_246));
	color: rgb(var(--color-55_55_55));
	margin-top: 12px;
	font-size: 16px;
	font-weight: 500;
}

.link {
	color: rgb(var(--color-246_197_73));
}

.link:hover {
	text-decoration: underline;
}
